[user]
    name = Shreyas Chand
    email = shreyas.chand@gmail.com
[alias]
    rb = rebase
    com = !git add . && git commit -am
    cm = commit
    co = checkout
    cob = checkout -b
    cp = cherry-pick
    d = diff
    dc = diff --cached
    l = log
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset%Cblue%d%Creset %s %C(green)(%cr)%Creset' --abbrev-commit --date=relative
    lo = log --oneline
    lp = log -p
    mom = merge origin/master
    poh = push origin head -u
    pohf = push origin head -f
    ri = rebase -i
    s = status -sb
    st = status
    hdeploy = push heroku master
    ign = !git update-index --assume-unchanged
    unign = !git update-index --no-assume-unchanged
    ignd = !git ls-files -v | grep ^[a-z]
[branch]
    autosetupmerge = true
    autosetuprebase = always
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
    mergeoptions = --no-ff
[rebase]
	autosquash = true
[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    whitespace = warn
    autocrlf = true
[push]
	default = current
[difftool]
	prompt = false
[mergetool]
	prompt = false
