[user]
	name = Shreyas Chand
	email = shreyas@carezone.com
[alias]
    co = checkout
    rb = rebase
    com = !git add . && git commit -am
	ci = commit
	co = checkout
	cp = cherry-pick
	d = diff
	dc = diff --cached
	l = log
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset%Cblue%d%Creset %s %C(green)(%cr)%Creset' --abbrev-commit --date=relative
	lo = log --oneline
	lp = log -p
	mom = merge origin/master
	poh = push origin head -u
	pohf = push origin head -f
	ri = rebase -i
	s = status -sb
    st = status
[branch]
	autosetupmerge = true
	autosetuprebase = always
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = auto
[diff]
	tool = araxis
[merge]
	tool = araxis
[core]
	editor = vim
	whitespace = warn
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
